body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

.header {
    background-color: #ABD7A8;
    width: 100%;
}

nav {
    background-color: #bfdcbd;
}
.nav-button {
    padding: 1em;
    width: 150px;
    border: none;
    background-color: #bfdcbd;
    color: #385736;
}
.nav-active {
    background-color: #ABD7A8;
    color: white;
}
.nav-button:hover {
    text-decoration: underline;
}

.nav-active:hover {
    text-decoration: none;
}

.nav-input {
    padding: .5em;
    border: none;
    float: right;
    margin-top: .5em;
}

.nav-select {
    border:none;
    padding: 0.9em;
    background-color: #bfdcbd;
}

.center {
    width: 80%;
    margin: 0 auto;
}

.content-center {
    text-align: center;
}

.logo {
    width: 30%;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    min-height: 5em;
    background-color: #bfdcbd;
    color: #385736;
}

.footer-filler {
    min-height: 5em;
}

.padding_05 {
    padding: .5em;
}

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.cell {
    /*outline: 1px solid #385736;*/
    min-height: 5em;
    padding: 0.5em;
    text-align: center;
}

.cell:nth-child(odd) {
    background-color: #f3f0f0;
}


.default-button {
    padding: 0.5em;
    background-color: #ABD7A8;
    color: white;
    border: none;
    cursor: pointer;
    /*-webkit-border-radius: 15px 0 15px 0;*/
    /*border-radius: 15px 0 15px 0;*/
}

.default-button:hover,
.hover-button {
    padding: 0.5em;
    background-color: #385736;
    color: white;
    border: none;
    cursor: pointer;
    /*-webkit-border-radius: 15px 0 15px 0;*/
    /*border-radius: 15px 0 15px 0;*/
}

.link-default {
    color: #385736;
    text-decoration: none;
}

.link-default:hover,
.link-hover {
    color: #000000;
    text-decoration: underline;
}

.product-tile {
    position: relative;
    height: 20em;
    width: 17em;
    margin: 0 auto;
    background-image: url("product.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0 3px 10px 0 #757575;
    box-shadow: 0 3px 10px 0 #757575;
    overflow: hidden;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.product-specs {
    position: absolute;
    width: 17em;
    bottom: 0;
    height: 3em;
    background-color: rgba(252, 253, 252, 0.8);
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.product-specs:hover {
    height: 11em;
    -webkit-transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
}

.product-tile-specs-header {
    height: 3em;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    padding-top: 0.5em;
}

.product-specs-grid {
    background-color: rgba(252, 253, 252, 0.9);
    display: grid;
    grid-template-columns: 50% 50%;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
    float: left;
}

.product-list-item-mobile {
    width: 60%;
    margin: .5em auto 0 auto;
    display: grid;
    grid-template-columns: 35% 65%;
    border: 1px dotted black;
}

.product-list-item-mobile-cell {
    position: relative;
    height: 6em;
    overflow: hidden;
}

.product-list-item-mobile-cell img {
    height: 100%;
    width: 100%;
}

.product-list-item-mobile-header {
    font-weight: bolder;
}

.product-list-item-mobile-specs {
    font-size: 0.9em;
}

.product-list-item-mobile-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.product-list-item-wide {
    width: 80%;
    height: 5em;
    display: grid;
    grid-template-columns: 10% 90%;
    border: 1px dotted black;
    margin: .5em 0 0 0;
}

.product-list-item-wide img {
    width: 100%;
}

.product-list-item-wide div {
    overflow: hidden;
}

.product-list-item-wide-specs div {
    overflow: hidden;
    /*outline: 1px solid red;*/
}

.product-list-item-wide-specs button {
    height: 100%;
}

.product-list-item-wide-specs {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}